<h1>create an article</h1>

<%= form_for @article do |f| %>
  <p>
<!-- The second parameter to label helper will allow you to set custom text.
<%#= f.label :title, 'Your Title' %>-->
    <%= f.label :title  %><br>
    <%= f.text_field :title  %>
  </p>
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>